.alert {
  width: 100%;
  background: green;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  display: none;
}

.formElement {
  text-align: center;
  line-height: 1.8;
}

h1,
h3,
img {
  text-align: center;
}

img {
  height: 500px;
  width: 700px;
}

.request {
  background-color: Violet;
  padding: 5px;
  border-style: ridge;
  border-width: 5px;
  border-color: blueviolet;
  border-radius: 5px;
}

table {
  border-style: ridge;
  border-width: 5px;
  border-radius: 5px;
}
